{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
  },
  "plugins": ["@typescript-eslint"],
  // HERE
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],

  "rules": {
    "no-unused-vars": "error",
    "no-console": "error",
    "no-undef": "error",
    "no-unused-expressions": "error",
    "no-unreachable": "error",
    "consistent-type-definitions": "off"
  },

  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "globals": {
    "process": "readonly"
  }
}
